include CITATION.cff
include CHANGELOG.md
include LICENSE
include README.md
include mkdocs.yml
include requirements.txt
recursive-include docs *.md *.png
recursive-include examples *.py
recursive-include examples/data *.pdb *.xyz
recursive-include notebooks *.ipynb
recursive-include scripts *.py
recursive-include tests *.py
recursive-include tests/fixtures *.xyz *.pdb *.cif *.sdf
prune notebooks/.ipynb_checkpoints
